/*Author: Sohel Shaikh*/

/*
===================================================================

index page

===================================================================
*/

/* Center the loader */

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #03254E;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

#header-img {
  max-height: 15vh;
}

#brand-logo {
background: #03254E;
}
nav {
  background-image: linear-gradient(to right, rgb(146,254,157) 0%, rgb(0,201,255) 100%);
}


#footer {
  background: #03254E;
}
/* loader css ends */

.section-text {
  padding: 100px;
  text-align: center;
  margin: auto;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: #6c6f73;
  background-image: linear-gradient(to right, rgba(146,254,157,0.7) 0%, rgba(0,201,255,0.7) 100%);
}

h1, h2, h3, h4, h5 {
  color: #333;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

img {
  max-width: 100%;
}

.feature-content {
  padding: 8rem 0;
  overflow: hidden;
}

.feature-dark {
  background: #03254E;
  color: white;
}

.feature-dark h2 {
  color: white;
}

.feature-alt {
  background: #f0f0f0;
}

.follow {
  margin-bottom: 100px;
}
/*
===================================================================

contact page

===================================================================
*/

#contact-holder {
  width: 75%;
  max-width: 900px;
  padding: 10px;
  margin-top: 50px;
}

#fb-root {
  margin-top: 50px;
}

#team-holder {
  margin-top: 50px;
}

.map {
  margin-top: 50px;
  position: relative;
}

.footer {
  margin-top: 50px;
}

/*
===================================================================

events page

===================================================================
*/

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../img/event1.jpg');
  min-height: 100vh;
}

.pimg2 {
  background-image: url('../img/event2.jpg');
  min-height: 400px;
}

.pimg3 {
  background-image: url('../img/event3.jpg');
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

@media(max-width:568px) {
  .pimg1, .pimg2, .pimg3 {
    background-attachment: scroll;
  }
}

/* Media Queries */

/*To centre the content using flexbox, removes the image ig width is less than 991px.*/

@media screen and ( min-width: 991px) {
  .feature-content {
    display: flex;
    align-items: center;
  }
}

/* 
====================
Social icons
====================
 */

.fab {
  color: #03254E;
}
.fab:hover {
  opacity: 0.7;
  transform: scale(1.2);
}
/* 
====================
credits to developer
====================
 */
#credits-sohel a {
  color: white
}

