body {
  /* background-color: pink; */
}

#header-img {
  max-height: 15vh;
}

.section-text {
  padding: 100px;
  text-align: center;
  margin: auto;
}

/*Author: Sohel Shaikh*/

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: #6c6f73;
}

h1, h2, h3, h4, h5 {
  color: #333;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

img {
  max-width: 100%;
}

.blockquote {
  font-size: 1.6rem;
  color: #333;
  border: none;
  padding: 0;
}

.blockquote-footer {
  margin: 1rem 0 0;
}

#stage {
  background: url('img/stage.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#stage-caption {
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

#stage-caption h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.feature-content {
  padding: 8rem 0;
  overflow: hidden;
}

.feature-dark {
  background: #262F36;
  color: white;
}

.feature-dark h2 {
  color: white;
}

.feature-alt {
  background: #f0f0f0;
}

#contact-holder {
  width: 75%;
  max-width: 900px;
  padding: 10px;
  margin-top: 50px;
}

#fb-root {
  margin-top: 50px;
}

#team-holder {
  margin-top: 50px;
}

.map {
  margin-top: 20px;
}

.footer {
  margin-top: 50px;
}

/* Media Queries */

/*To centre the content using flexbox, removes the image ig width is less than 991px.*/

@media screen and ( min-width: 991px) {
  .feature-content {
    display: flex;
    align-items: center;
  }
}
